# Environment variables
.env

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Static files
/static/

# Media files
/media/

# Virtualenv
.venv/
virtualenv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE settings
.idea/
.vscode/