<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Félix's Portfolio{% endblock %}</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div id="vanta-bg"></div>
  {% include "partials/header.html" %}
  <main>{% block content %}{% endblock %}</main>
  {% include "partials/footer.html" %}
  {% include "chatbot/widget.html" %}
  <script src="{% static 'js/global.js' %}"></script>
  {% block extra_scripts %}{% endblock %}
</body>
</html>
